.container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 65rem;
}

.app {
  display: flex;
  height: 100vh;
  flex-direction: column;

  &__main {
    flex-grow: 1;
    background: $c-background;
  }
}
