body {
  margin: 0;
  font-family: 'Fira Sans Condensed', sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &:before,
  &:after {
    box-sizing: inherit;
  }
}
