$c-black: #000000;
$c-white: #ffffff;
$c-background: #eceae9;
$c-input: #e4c0c5;
$c-location: #6d815d;
$box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
@import 'reset';
@import 'layout';
@import 'components/hero';
@import 'components/card';
@import 'components/form';

.footer {
  margin: 0 auto;
  margin-bottom: 0.3rem;
  text-align: center;

  &__wu-logo {
    padding-left: 0.5rem;
    height: 1.5rem;
  }
}
