.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 2rem auto;
  background: $c-white;
  width: 60%;
  min-width: 20rem;

  &__arrow-down {
    position: absolute;
    left: 1.5rem;
    top: 2.3rem;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid $c-location;
  }

  &__header {
    display: flex;
    justify-content: center;
    background: $c-location;
    width: 100%;
    color: $c-white;
  }

  &__city {
    padding-left: 0.4rem;
    font-size: 1.5rem;
    text-align: center;
    margin: 0.3rem 0;
  }

  &__state {
    font-size: 1.5rem;
    text-align: center;
    margin: 0.3rem 0;

    &::after {
      content: ',';
    }
  }

  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    min-width: 15rem;
  }

  &__icon {
    margin: 1rem 0;
    padding-bottom: 0.4rem;
    height: 4rem;
  }

  &__icon-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-size: 1.3rem;
    text-align: center;
  }

  &__temp {
    margin-top: 0;
    padding-left: 0.5rem;
    font-size: 2rem;

    &::after {
      content: '°';
    }
  }

  &__feels {
    margin-top: 0;
    text-align: center;
    font-size: 2rem;

    &::after {
      content: '°';
    }
  }

  &__forecast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    border-top: 0.1rem solid $c-location;
    padding-top: 0.5rem;
  }

  &__forecast-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 auto;
    min-width: 7rem;
  }

  &__date {
    display: flex;
    text-align: center;
    font-size: 1.2rem;
  }

  &__date-month {
      padding-right: 0.2rem;
      margin-bottom: 0.3rem;
      &::after {
        content: '.';
      }
    }

  &__date-day {
    margin-bottom: 0.3rem;
  }

    &__high {
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
      &::before {
        content: 'High:';
        padding-right: 0.2rem;
      }
      &::after {
        content: '°';
      }
    }

    &__low {
      margin-top: 0;
      &::before {
        content: 'Low:';
        padding-right: 0.2rem;
      }
      &::after {
        content: '°';
      }
    }
  }
