.form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;

  &__label {
    margin-right: 0.3rem;
    font-size: 1.3rem;
  }

  &__input {
    margin-right: 0.3rem;
    padding-left: 0.2rem;
    background: $c-input;
    border: 0;
    font-size: 1.3rem;

    &:focus {
      outline: 1px solid $c-white;
    }
  }

  &__button {
    margin-left: 0.3rem;
    font-size: 1rem;
    color: $c-input;
    border: 2px solid $c-input;
    background: transparent;
    outline: 0;
    cursor: pointer;
  }
}

@media(max-width: 500px) {
  .form {
    &__label {
      font-size: 1rem;
    }

    &__input {
      font-size: 1rem;
    }

    &__button {
      font-size: 1rem;
    }
  }
}
