.hero {
  // position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 100%;
  background: url('../images/cloud.jpg') no-repeat center;
  background-size: cover;
  height: 15rem;
  box-shadow: $box-shadow;

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    margin: 0;
    font-family: 'Yeseva One', sans-serif;
    font-size: 3rem;
    text-align: center;
  }

  &__form {
    padding-top: 0.5rem;
  }

  &__input {
    font-family: 'Merriweather Sans', sans-serif;
    border-radius: 0.4rem;
    outline: 0;

    &:focus {
      outline: 2px solid $c-black;
    }
  }

  &__select {
    font-family: 'Merriweather Sans', sans-serif;
    outline: 0;

    &:focus {
      outline: 2px solid $c-black;
    }
  }

  &__button {
    background-color: Transparent;
    background-repeat: no-repeat;
    outline: none;
    font-family: 'Merriweather Sans', sans-serif;
    border: 2px solid #000;
    border-radius: 0.4rem;
    cursor: pointer;
  }
}
