.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('../images/pug.jpg') no-repeat center top;
  background-size: cover;
  height: 50vh;
  color: $c-white;

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1.5rem 2rem;
    background-clip: padding-box;
    border: 3px solid $c-white;
    background: rgba(8,7,7,.35);
  }

  &__logo {
    margin: 0;
    font-size: 2.5rem;
    text-align: center;
  }

  // &__form {
  //   padding-top: 0.5rem;
  //
  //   @media (max-width: 420px) {
  //     display: flex;
  //     flex-direction: column;
  //   }
  // }
  //
  // &__input {
  //   font-family: 'Fira Sans Condensed', sans-serif;
  //   border-radius: 0.4rem;
  //   outline: 0;
  //
  //   &:focus {
  //     outline: 2px solid $c-black;
  //   }
  //
  //   @media (max-width: 420px) {
  //     margin: 0.2rem 0;
  //   }
  // }

  &__select {
    font-family: 'Fira Sans Condensed', sans-serif;
    outline: 0;

    &:focus {
      outline: 2px solid $c-black;
    }
  }

  &__button {
    background-color: Transparent;
    background-repeat: no-repeat;
    outline: none;
    border: 2px solid $c-white;
    border-radius: 0.4rem;
    font-family: 'Fira Sans Condensed', sans-serif;
    cursor: pointer;

    &:hover {
      background-color: $c-black;
      color: #fff;
    }

    @media (max-width: 420px) {
      margin: 0.6rem 0;
    }
  }
}
